---
layout: page
title: Latest posts
navtitle: blog
permalink: /blog/
order: 70
# description: Counselling and psychotherapy in London, MNCS Accredited.
---

<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2 class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>