<footer class="site-footer">

  <div class="wrapper">
    <p><a href="mailto:effywesttherapy@gmail.com">effywesttherapy@gmail.com</a></p>

    <div class="footer-logos">
      <!-- Professional verification provided by Psychology Today --> 
      <a href="https://www.psychologytoday.com/profile/844331" class="sx-verified-seal" aria-label="Verified by Psychology Today"></a> 
      <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="15" data-id="844331" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script> 
      <!-- End Verification -->

      <img src="/img/mncs-accred-logo.jpg" alt="West Therapy is MNCS Accredited" width="310" />
    </div>
  </div>

</footer>
