<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        {% for node in site.pages %}
          {% if node.navtitle %}
          <a class="page-link{% if page.url == node.url %} page-link--active{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.navtitle }}</a>
          {% elsif node.title %}
          <a class="page-link{% if page.url == node.url %} page-link--active{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
